<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Userdata</display-name>
    <servlet-name>Userdata</servlet-name>
    <servlet-class>com.backend.Userdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userdata</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  <display-name>LaptopProject</display-name>
  <servlet>
    <description></description>
    <display-name>LoginBackend</display-name>
    <servlet-name>LoginBackend</servlet-name>
    <servlet-class>com.backend.LoginBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBackend</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>com.profile.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBackend</display-name>
    <servlet-name>AdminBackend</servlet-name>
    <servlet-class>com.admin.AdminBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBackend</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisteredUser</display-name>
    <servlet-name>RegisteredUser</servlet-name>
    <servlet-class>com.registereduser.RegisteredUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredUser</servlet-name>
    <url-pattern>/registereduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrder</display-name>
    <servlet-name>UserOrder</servlet-name>
    <servlet-class>com.registereduser.UserOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrder</servlet-name>
    <url-pattern>/userorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductList</display-name>
    <servlet-name>ProductList</servlet-name>
    <servlet-class>com.registereduser.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddBackend</display-name>
    <servlet-name>ProductAddBackend</servlet-name>
    <servlet-class>com.registereduser.ProductAddBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddBackend</servlet-name>
    <url-pattern>/productbackend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>com.admin.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowPage</display-name>
    <servlet-name>OrderNowPage</servlet-name>
    <servlet-class>com.backend.OrderNowPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowPage</servlet-name>
    <url-pattern>/ordernowpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookProductBackend</display-name>
    <servlet-name>BookProductBackend</servlet-name>
    <servlet-class>com.backend.BookProductBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookProductBackend</servlet-name>
    <url-pattern>/bookproductbackend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductOrder</display-name>
    <servlet-name>ProductOrder</servlet-name>
    <servlet-class>com.backend.ProductOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductOrder</servlet-name>
    <url-pattern>/productorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAndUpdate</display-name>
    <servlet-name>DeleteAndUpdate</servlet-name>
    <servlet-class>com.backend.DeleteAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAndUpdate</servlet-name>
    <url-pattern>/deleteupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSetting</display-name>
    <servlet-name>ProductSetting</servlet-name>
    <servlet-class>com.backend.ProductSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSetting</servlet-name>
    <url-pattern>/productsetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutBackend</display-name>
    <servlet-name>LogoutBackend</servlet-name>
    <servlet-class>com.backend.LogoutBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutBackend</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>